<!-- ======================= header ==================== -->
<header class="header">
  <nav class="header__nav">
    <a class="header__logo" href="./index.html">
      <img
        class="header__logo-image"
        src="./images/Logo_doc.svg"
        alt="Doctorov"
      />
      <span class="header__logo-menu">
        VALERIE & VADIM DOCTOROV ART FOUNDATION
      </span>
    </a>
    <div class="header__actions">
      <button class="header__language-button" type="button">UA</button>

      <button class="header__menu-button" type="button">
        <span class="header__menu-text">MENU</span>

        <span class="header__menu-icon">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </button>

      <a class="header__contact" href="./contact.html">Let's talk</a>
    </div>
  </nav>
  <div class="header__overlay">
    <nav class="header__overlay-nav">
      <a id="home-link" href="./index.html" class="header__overlay-link">
        <span class="header__number-one">01</span>
        <span>home</span>
      </a>
      <a href="#" class="header__overlay-link">
        <span>02</span>
        <span>about</span>
      </a>
      <a href="#" class="header__overlay-link">
        <span>03</span>
        <span>po<span class="header__overlay-r">r</span>tfolio</span>
      </a>
      <a href="#" class="header__overlay-link">
        <span>04</span>
        <span>community</span>
      </a>
    </nav>
    <div class="header__overlay-bottom">
      <div class="header__overlay-bottom-left">
        <a class="header__overlay-book" href="#book">the book</a>
        <a href="mailto:vv_doctorov@gmail.com"> vv_doctorov@gmail.com </a>
      </div>

      <div class="header__overlay-bottom-right">
        <a
          class="header__call-button"
          href="https://wa.me/491234567890"
          target="_blank"
          rel="noopener"
          aria-label="Write to us on WhatsApp"
        >
          <img
            class="header__call-button-icon"
            src="./images/ico/ico_call.svg"
            alt=""
          />
        </a>

        <div class="header__overlay-socials">
          <a class="header__social-link" href="#" aria-label="YouTube">
            <span class="header__social-text">youtube</span>
            <img
              class="header__social-icon"
              src="./images/ico/ico_youtube_2.svg"
              alt=""
            />
          </a>

          <a class="header__social-link" href="#" aria-label="LinkedIn">
            <span class="header__social-text">linkedin</span>
            <img
              class="header__social-icon"
              src="./images/ico/linkedin.svg"
              alt=""
            />
          </a>

          <a class="header__social-link" href="#" aria-label="Facebook">
            <span class="header__social-text">facebook</span>
            <img
              class="header__social-icon"
              src="./images/ico/ico_facebook_2.svg"
              alt=""
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</header>
